<div class="card main-container">
  <div class="card-header">
    <div class="d-flex justify-content-between ">
      <div class="title">
        <h4 *ngIf="viewList">Clientes</h4>
        <a *ngIf="!viewList" (click)="showList()">
          <h4 style="display: inline;" title="Ver la lista">
            <fa name="arrow-circle-left"></fa>
            Clientes</h4>
        </a>
      </div>
      <div *ngIf="warning" class="alert alert-warning">
          <fa  name="exclamation-triangle"></fa>
          <strong>Alerta!</strong> {{warning}}
      </div>
      <div *ngIf="error" class="alert alert-danger">
          <fa  name="exclamation-triangle"></fa>
          <strong>Error!</strong> {{error}}
      </div>
      <div class="title" *ngIf="loading">
          <fa  name="refresh" animation="spin"></fa>
      </div>
      
    </div>
  </div>
  <div class="card-block" *ngIf="viewList">
    <app-customer-list [listOfData]="listOfData" (clickItem)="showCustomer($event)" (changeFilter)="changeFilter($event)" (changeOrder)="changeOrder($event)"></app-customer-list>
  </div>
  <div class="card-footer text-muted" *ngIf="viewList">
    <div class="row">
      <div class=" col-3">
        <div class="input-group">
          <button class="btn btn-default" (click)="addProduct()" [disabled]="loading" title="Agregar">
              <fa name="plus"></fa>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-center col-6">
        <app-pager (goToPage)="goToPage($event)" [pagesToShow]="pagesToShow" [page]="page" [perPage]="perPage" [count]="total" [loading]="loading"></app-pager>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div class="card-block" *ngIf="!viewList">
    <app-customer-detail [customer]="customer" (cancel)="showList()" (error)="showError($event)" (saveComplete)="updateData()"></app-customer-detail>
  </div>
</div>