<div class="fill background">
  <div class="jumbotron text-center vertical-center">
    <div class="container">
        <img _ngcontent-c3="" alt="ImaginCrud" class="card-img-top" src="assets/images/ImaginCrudLogo.png">
        <h1>BIENVENIDO A CAPTURA</h1>
      <!-- <img _ngcontent-c4="" alt="ImaginCrud" class="center" src="http://imagincrud.procesosyservicios.info//ImaginCrud/Content/images/ImaginCrud/ImaginCrud1.png"> -->
      <p>Esta herramienta realiza la captura de información de documentos PDF.
      </p>
      <p>La validación del proceso garantiza la calidad de los datos capturados.
        </p>
        <div class="button-group">
            <a class="btn n btn-primary" [routerLink]="['/typification']" >Typificación</a>  
            <a class="btn  btn-success" [routerLink]="['/validation']" >Validación</a>  
        </div>
    </div>
  </div>
</div>